{% include 'assessment/base.html' %}

{% block content %}

<div class="container">
    <h3 class="mt-2 text-center">{{assessment.title}} (Max Score: {{assessment.max_score}})</h3>
    {% for q in questions %}
    
    <div class="row p-2 mt-2">
        <div>
            <p class="fw-bold">Q{{forloop.counter}}. {{q.question}}</p>
            <div class="ms-3">
            <p class="m-0">a. {{q.option_a}}</p>
            <p class="m-0">b. {{q.option_b}}</p>
            <p class="m-0">c. {{q.option_c}}</p>
            <p>d. {{q.option_d}}</p>
            <p class="fw-bold m-0">Marks assigned: {{q.marks_assigned}}</p>
            <p class="fw-bold ">Correct Answer: {{q.correct_choice}}</p>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>

{% endblock%}