{% include 'assessment/base.html' %}

{% block content %}
<div class="container">
    <div class="row p-2 m-2">
        <div class="col text-right">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Assessment title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form method="POST" action="{% url 'recruiter' %}">{% csrf_token %}
                    <div class="mt-2 mb-2">
                        <label class="form-label">Title:</label>
                        <input class="form-control" type="text" name="assessment" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
            </div>
            </div>
        </div>
        </div>
    </div>


    <h3 class="p-1 mb-4 d-flex justify-content-between">List of Previous Assessments    
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            &#43;New
        </button>
    </h3>
    {% if assessments %}
    {% for assg in assessments %}
    <div class="row p-2 m-1 mt-4 border bg-light" style="box-shadow: 1px 1px 8px 0px gray;">
        <div class="col-md-6 text-center">
            <h6>Title</h6>
            <p>{{assg.title}}</p>
        </div>
        <div class="col-md-6 text-center pt-2 d-flex justify-content-center">
            <a href="{% url 'questions' assg.id %}" class="btn btn-primary mt-2 rounded-0" style="max-height: 38px;">View</a>
            <a class="btn btn-outline-primary mt-2 rounded-0" style="max-height: 38px;" href="{% url 'responses' assg.id %}">Responses</a>
            <a class="btn btn-danger mt-2 rounded-0" style="max-height: 38px;" href="{% url 'delete' assg.id %}">Delete</a>
        </div>
    </div>
    {% endfor %}
    {% else%}
    <p class="text-danger ">You have not created any assessment yet!</p>
    {% endif %}

</div>
{% endblock %}