{% include 'student/base.html' %}

{% block content %}
<div class="container">
        <h3 class="text-center mt-2">Your Pending Assessments</h3>
        
        <div class="row mt-4">
            {% if pendingAssessment %}
            {% for assessment in pendingAssessment %}
            
            <div class="col-md-3 text-center">
                <div class="border m-2 bg-light p-2" style="box-shadow: 1px 1px 8px 0px gray;">
                    <p class="fw-bold">
                        {{assessment.assessment}}
                    </p>
                    <p>Assigned on: {{assessment.assessment.createdOn}}</p>
                    <p>Maximum Marks : {{assessment.assessment.max_score}}</p>
                    <a href="{% url 'quiz' assessment.assessment.id  %}">Solve now</a>
                </div>
            </div>
            
            {% endfor %}
            {% else %}
            <p class="text-danger">You don't have any pending assessments</p>
            {% endif %}
        </div>
        
        <hr>
        
        <h3 class="text-center mt-4">Your Previous Assessments</h3>
        <div class="row mt-4">
            {% if completedAssessment %}
            {% for assessment in completedAssessment %}
            <div class="col-md-3 text-center">
                <div class="border m-2 bg-light p-2" style="box-shadow: 1px 1px 8px 0px gray;">
                    <p class="fw-bold">
                        {{assessment.assessment}}
                    </p>
                    <p>Assigned on: {{assessment.assessment.createdOn}}</p>
                    <p>Your score : {{assessment.score_obtained}}/{{assessment.assessment.max_score}}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-danger">You have  not solved any assessment yet!</p>
            {% endif %}
        </div>
    
</div>
    {% endblock %}