{% include 'user/base.html' %}

{% block content %}
<h1 style="margin-top: 50px;" class="text-center">On the Recruiter's page</h1>
<div class="container">
    <div class="row p-2 m-2 border">
        <div class="col">
            Title of Assessment
        </div>
        <div class="col">
            <button class="btn btn-primary">Create Assessment</button>
        </div>
    </div>
    <div class="row p-2 m-2 border">
        <div class="col-8">
            Title of Assessment
        </div>
        <div class="col-4">
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
{% endblock %}